
@font-face {
  font-family: "AvenirNextCyr-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Regular"), url("./fons/AvenirNextCyr-Regular.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Italic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Italic"), url("./fons/AvenirNextCyr-Italic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Demi";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Demi"), url("./fons/AvenirNextCyr-Demi.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-DemiItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-DemiItalic"), url("./fons/AvenirNextCyr-DemiItalic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Thin";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Thin"), url("./fons/AvenirNextCyr-Thin.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-UltraLight";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-UltraLight"), url("./fons/AvenirNextCyr-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-ThinItalic"), url("./fons/AvenirNextCyr-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-UltraLightIt";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-UltraLightIt"), url("./fons/AvenirNextCyr-UltraLightIt.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Light"), url("./fons/AvenirNextCyr-Light.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-LightItalic"), url("./fons/AvenirNextCyr-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Medium"), url("./fons/AvenirNextCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-MediumItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-MediumItalic"), url("./fons/AvenirNextCyr-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Bold"), url("./fons/AvenirNextCyr-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-BoldItalic"), url("./fons/AvenirNextCyr-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Heavy"), url("./fons/AvenirNextCyr-Heavy.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextCyr-HeavyItalic";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-HeavyItalic"), url("./fons/AvenirNextCyr-HeavyItalic.woff") format("woff");
}
