
@media only screen and (max-width: 991px) {

  .header-content__item:first-child {
    margin: 0 25px;
  }

  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-content {
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
  }

  .box-statistics {
    visibility: visible;
  }

  .statistics__item {
    top: 85px;
  }

  .statistics__item span {
    font-size: 14px;
  }

  .likes {
    padding-left: 35px;
  }
}

@media only screen and (max-width: 764px) {
  
  .container {
    padding: 0;
  }

  .header-content {
    flex-wrap: wrap;
  }

  .header-content__item:first-child {
    height: 115px;
    margin: 0 65px;
  }

  .header-content__item:nth-child(2) {
    margin: 18px 20px 0;
  }
  .stats {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .title {
    margin-bottom: 15px;
  }

  .stats-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    background: #e6e6e6;
  }

  .stats-mobile__item {
    width: 100%;
    font-size: 13px;
    line-height: 15px;
  }

  .stats-mobile__item span {
    font-weight: bold;
    font-size: 12px;
  }

  .stats-mobile__item:nth-child(2):active,
  .stats-mobile__item:nth-child(3):active {
    opacity: 0.4;
  }

  .main-content {
    margin: 0;
  }

  .box-button {
    padding: 45px 0;
  }
}

@media only screen and (max-width: 726px) {
  
  .header-content__item:first-child {
    margin: 0 45px;
  }

  .statistics__item {
    top: 100px;
  }

  .statistics__item span {
    font-size: 12px;
    line-height: 25px;
  }

  .likes {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 686px) {

  .header-content__item:first-child {
    margin: 0 27px;
  }

  .header-content__item:nth-child(2) {
    margin: 18px 10px 0;
  }

  .statistics__item {
    top: 90px;
  }

  .statistics__item span {
    line-height: 24px;
  }
}

@media only screen and (max-width: 630px) {

  .statistics__item {
    top: 80px;
    padding: 0;
  }

  .header-content__item:first-child {
    margin: 0 25px;
  }

  .header-content__item:nth-child(2) {
    width: 400px;
  }
}

@media only screen and (max-width: 590px) {

  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-content__item:first-child {
    margin: 0px 50px;
  }

  .logo {
    width: 95px;
    height: 95px;
  }

  .header-content__item:nth-child(2) {
    margin: 20px 10px 0;
    width: 282px;
    height: 85px;
  }

  h1 {
    font-size: 20px;
  }

  .title {
    align-items: center;
  }

  .start-date-btn {
    width: 126px;
    margin-left: 10px;
    font-size: 11px;
  }

  label {
    display: none;
  }
  
  .col-xs-6 {
    padding-left: 0;
    width: 50%;
  }

  .statistics__item {
    top: 105px;
    padding: 0 10px;
  }

  .statistics__item span {
    line-height: 33px;
  }

  .likes {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 540px) {

  .header-content__item:first-child {
    margin: 0px 36px;
  }

  .statistics__item {
    top: 90px;
  }

  .likes {
    padding-left: 25px;
  }
}

@media only screen and (max-width: 485px) {

  .header-content__item:first-child {
    margin: 0 25px;
  }

  .header-content__item:nth-child(2) {
    margin: 20px 0 0;
  }

  h1 {
    font-size: 20px;
  }

  .main-content {
    grid-template-columns: 1fr;
  }

  .statistics__item {
    top: 185px;
  }

  .statistics__item span {
    line-height: 37px;
    font-size: 16px;
  }

  .likes {
    padding-left: 160px;
  }
}

@media only screen and (max-width: 445px) {

  .logo {
    width: 94px;
    height: 94px;
    margin-top: 10px;
  }

  .header-content__item:first-child {
    height: 105px;
    margin: 5px;
    margin: 0 10px;
  }

  .header-content__item:nth-child(2) {
    width: 274px;
  }

  h1 {
    font-size: 19px;
  }

  .statistics__item {
    top: 170px;
  }

  .likes {
    padding-left: 145px;
  }
}

@media only screen and (max-width: 424px) {

  .header-content {
    height: 240px;
}

  .header-content__item:nth-child(2) {
    height: 74px;
    width: 390px;
    margin: 0 10px;
  }

  .header-content__item:first-child {
    height: 70px;
    margin: 8px 42px 0;
  }

  .logo {
    width: 70px;
    height: 70px;
    margin-top: 0;
  }

  .title {
    position: relative;
    margin-bottom: 10px;
    height: 30px;
  }

  .start-date-btn {
    position: absolute;
    right: 0;
    line-height: 22px;
    width: 135px;
    margin-left: 0;
    font-size: 11px;
  }

  .pr {
    padding-right: 0;
  }

  .statistics__item {
    top: 160px;
  }

  .statistics__item span {
    line-height: 40px;
  }

  .likes {
    padding-left: 135px;
  }
}

@media only screen and (max-width: 375px) {

  .header-content__item:nth-child(2) {
    width: 340px;
  }

  .statistics__item {
    top: 140px;
  }

  .statistics__item span {
    font-size: 14px;
}

  .likes {
    padding-left: 115px;
  }
}

@media only screen and (max-width: 340px) {

  .pr {
    padding-right: 0;
  }

  .header-content__item:nth-child(2) {
    width: 300px;
  }

  .statistics__item {
    top: 115px;
  }

  .likes {
    padding-left: 70px;
  }
}

@media only screen and (max-width: 320px) {

  .header-content {
    height: 215px;
  }

  .header-content__item:first-child {
    height: 60px;
    margin: 12px 42px 0;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
}
